*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea

server-config.toml
__pycache__

/venv/
.env
app/debug/

*.dist
*.build
*.onefile-build
main-server.exe
app.exe
